/* ======================================================================
   CUSTOMIZATION
 ------------------------------------------------------------------------
*/
 

/* local dejavu fonts */
@font-face {
    font-family: "DejaVuSans" ;
    src: local("DejaVu Sans"), url( "/DejaVuSans.ttf" ) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "DejaVuSans" ;
    src: local("DejaVu Sans Bold"), url( "/DejaVuSans-Bold.ttf" ) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "DejaVuSansMono" ;
    src: local("DejaVu Sans Mono Book"), url( "/DejaVuSansMono.ttf" ) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "DejaVuSansMono" ;
    src: local("DejaVu Sans Mono Bold"), url( "/DejaVuSansMono-Bold.ttf" ) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "DejaVuSansMonoCondensed60" ;
    src: url( "/DejaVuSansMonoCondensed60.ttf" ) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "DejaVuSansMonoCondensed75" ;
    src: url( "/DejaVuSansMonoCondensed75.ttf" ) format("truetype");
    font-weight: normal;
}

/* hide some visual components */
.toc, #toc,                /* table of contents */
#p-logo,                   /* wiki logo */
#siteSub,                  /* subheadings below the firstHeading */
#footer-info-viewcount,    /* page view count */
.catlinks {                /* category link box */
    display: none !important;
}

div#contentSub:empty {
    display: none;
}

div#mw-panel {
    top: 40px
}

#mw-head {
    min-width: inherit;
    left: 0;
}

/*----------------------------------------------------------------------*/
/* search results style */

.mw-search-results li {
    padding-bottom: 0.4em;
    font-size: 1.0em;
    line-height: 1.1em;
}

.page-Special_Search div.mw-search-result-data,
.page-Special_Search p.mw-search-createlink,
.page-Special_Search p.mw-search-pager-bottom,
.page-Special_Search div.mw-search-formheader,
.page-Special_Search #mw-searchoptions {
    display: none;
}

/*----------------------------------------------------------------------*/
html, body {
    font-family: DejaVuSans, "DejaVu Sans", arial, sans-serif;
    font-size: 16px;
}

body.skin-vector {
    min-width: 80em;
}

div#bodyContent {
    line-height: 1.2em;
    position: static;
}

#content {
    line-height: 1.2em;
    position: relative;
}

p, dd {
    line-height: 1.2em;
}

ul li {
    line-height: 1.2em;
    margin-top: 0.3em;
}

h1 {
    font-size: 2em;
}

h3 {
    padding: 1.1em 0 0.2em 0.75em;
}

/* teletype font */
tt,
code,
pre,
.mw-geshi,
.t-lc,
#wpTextbox1 {
    font-family: DejaVuSansMono, "DejaVu Sans Mono", courier, monospace !important;
}

code,
table {
    background-color: transparent;
}

/* bold font */
strong, b {
    font-weight: bold;
}

/* link image for interwiki links */
#content a.extiw, #content a.extiw:active {
    /* @embed */
    background: url("/mwiki/skins/vector/images/external-link-ltr-icon.png")
                no-repeat scroll right center transparent !important;
    padding: 0 13px 0 0 !important;
}

table.fmbox,
table.ombox,
div.template-documentation,
fieldset {
    border-radius: 5px;
}

/* ----------------------------------------------------------------------
   Main page
*/

body.page-Main_Page h1.firstHeading,
body.page-Заглавная_страница h1.firstHeading,
body.page-Hauptseite h1.firstHeading,
body.page-Página_principal h1.firstHeading,
body.page-Accueil h1.firstHeading,
body.page-대문 h1.firstHeading,
body.page-Pagina_principale h1.firstHeading,
body.page-メインページ h1.firstHeading,
body.page-Página_principal h1.firstHeading,
body.page-首页 h1.firstHeading,
body.page-Ana_sayfa h1.firstHeading,
body.page-Hlavní_strana h1.firstHeading {
    display: none;
}


.mainpagetable tr.rowtop * {
    line-height: 1em;
}

.mainpagetable tr.row td:first-child {
    border-left: 1px solid silver;
    padding-left: 1em;
}

.mainpagetable tr.row td:last-child {
    border-right: 1px solid silver;
    padding-right: 1em;
}

.mainpagetable tr.rowtop td:first-child {
    border-top-left-radius: 5px;
}

.mainpagetable tr.rowtop td:last-child {
    border-top-right-radius: 5px;
}

.mainpagetable tr.rowbottom td:first-child {
    border-bottom-left-radius: 5px;
}

.mainpagetable tr.rowbottom td:last-child {
    border-bottom-right-radius: 5px;
}

.mainpagetable tr.row td {
    border-bottom: 1px solid silver;
    padding: 0.5em;
    background: #fafafa;
}

.mainpagetable tr.rowtop td {
    border-top: 1px solid silver;
    background: #f8f8f8;
}

.mainpagetable p {
    margin: 0;
}

div.mainpagediv {
    font-size: 85%;
    line-height: 1.2em;
    margin-left: 2em;
    width: auto;
}

div.mainpagediv * {
    line-height: 1.2em;
}

/* ----------------------------------------------------------------------
   Geshi
*/
pre,
div.mw-geshi {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 1em;
    margin: 1em 0;
    width: 55em;
    background-color: #F9F9F9;
    overflow:auto;
}

span.mw-geshi {
    white-space: nowrap;
}

.mw-geshi a {
    color: #003080;
}

/* ----------------------------------------------------------------------
   Template:c
*/
.t-c {
    background-color: transparent;
    background-color: rgba(0,0,0,0.031);
    border: 1px solid #D6D6D6; 
    border-radius: 3px; 
    margin: 0 2px; 
    padding: 0 2px;
    display: inline-block;
}

/* ----------------------------------------------------------------------
   Template:lc
*/
body.ns-10 .t-lc {
    border-bottom: 1px solid blue;
}

body.ns-10 .t-lc a {
    border-bottom: none;
}

/* ----------------------------------------------------------------------
   Template:vertical
*/
.t-vertical {
    width: 1.5em;
    white-space: nowrap;
    margin: 0 auto;
}

.t-vertical > div {
    -moz-transform: translate(50%, 50%) rotate(90deg);
    -moz-transform-origin: 50% 0%;
    -o-transform: translate(50%, 50%) rotate(90deg);
    -o-transform-origin: 50% 0%;
    -webkit-transform: translate(50%, 50%) rotate(90deg);
    -webkit-transform-origin: 50% 0%;
    -ms-transform: translate(50%, 50%) rotate(90deg);
    -ms-transform-origin: 50% 0%;
    transform: translate(50%, 50%) rotate(90deg);
    transform-origin: 50% 0%;
    float: right;
}

/* ----------------------------------------------------------------------
   Template:li
*/
.t-li1,
.t-li2,
.t-li3 {
    text-indent: -5em;
    padding: 0.2em 0 0.2em 0;
}

.t-li1 > *,
.t-li2 > *,
.t-li3 > * {
    text-indent: 0em;
}

.t-li1 {
    padding-left: 3em;
}

.t-li2 {
    padding-left: 5em;
}

.t-li3 {
    padding-left: 7em;
}

.t-li {
    display: inline-block;
    width: 5em;
    text-align: right;
}

/* ----------------------------------------------------------------------
   Template:lines
*/
.t-lines {
    display: table;
}

.t-lines > span {
    display: table-row;
}

.t-lines > span * {
    line-height: 1em;
}

.t-lines > span:empty:after {
    content: "\a0";
}

/* ----------------------------------------------------------------------
   Template:math
*/
span.texhtml {
    font-style: italic;
}

/* ----------------------------------------------------------------------
   Template:mfrac
*/
.t-mfrac > table {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    border-spacing: 0;
    text-align: center;
    font-size: 0.9em;
}

.t-mfrac > table > tbody > tr > td {
    border: none;
}

.t-mfrac > table > tbody > tr:first-child > td {
    border-bottom:0.1em solid;
}

/* ----------------------------------------------------------------------
   Template:mrad
*/
.t-mrad {
    white-space: nowrap;
    margin-top: 1px;
}

.t-mrad > span:nth-last-child(3) {
    font-size: 0.7em;
    vertical-align: 0.8em;
    margin-right: -0.5em;
}

.t-mrad > span:nth-last-child(2) {
    font-size: 1.1em;
}

.t-mrad > span:nth-last-child(1) {
    border-top: 0.1em solid;
}

/* ----------------------------------------------------------------------
   Template:su
*/

.t-su {
    display: inline-block;
    margin-bottom: -0.3em;
    vertical-align: 0.8em;
    line-height: 1.2em;
    font-size: 85%;
    text-align: left;
}

.t-su-b {
    vertical-align: -0.4em;
}

/* ----------------------------------------------------------------------
   Template:mparen
*/

.t-mparen,
.t-mparen > span {
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.t-mparen > span:nth-child(1),
.t-mparen > span:nth-child(3) {
    font-style: normal;
    line-height: 1.1em;
}

.t-mparen > span:nth-child(2) {
    line-height: 1.5em;
    text-align: center;
}

/* ----------------------------------------------------------------------
   Template:cc
*/
.t-cc {
    display: inline-block;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 0.3em 1em 0.2em 1em;
}

/* ----------------------------------------------------------------------
   Template:example
*/
.t-example-live-link {
    width: 55em;
    display: none;
}

body.ns-10 .t-example-live-link {
    display: none;
}

.t-example .mw-geshi {
    margin: 0 0 1em 0;
}

/* ----------------------------------------------------------------------
   Template:member
*/
.t-member {
    background-color: #f8f8f8;
    border: 1px solid #aaa;
    margin: 1em 0 0;
    overflow: hidden;
    padding: 0.2em 1em 1em;
}

.t-member > h1 {
    font-size: 1.8em;
}

/* ----------------------------------------------------------------------
   Template:inherited
*/
.t-inherited {
    overflow: hidden;
    margin: 1em 0 0 0;
    border: 1px solid #aaa;
    background-color: #f3f3fc;
    padding: 0.2em 1em 1em 1em;
}

/* ----------------------------------------------------------------------
   Template:inheritance diagram
   Template:image
*/
.t-inheritance-diagram,
.t-image {
    display: table;
    border: 1px solid #aaa;
    padding: 0.2em 0.2em 0.2em 0.2em;
    margin: 1.0em 0 0.5em 0;
}

/* ----------------------------------------------------------------------
   Template:plot return
*/
.t-plot {
    display: table;
    position: relative;
    border: 1px solid #aaa;
    padding: 0.2em 0.2em 0.2em 0.2em;
    font-size: 0.7em;
}

.t-plot-left {
    position: absolute;
    bottom: 5em;
    /* 90 degree text rotation */
    -moz-transform:rotate(270deg);
    -moz-transform-origin: top left;
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: top left;
    -o-transform: rotate(270deg);
    -o-transform-origin:  top left;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.t-plot-right {
    position: absolute;
    bottom: 7em;
    left: 100%;
    white-space: nowrap;
    /* 90 degree text rotation */
    -moz-transform:rotate(270deg);
    -moz-transform-origin: bottom left;
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: bottom left;
    -o-transform: rotate(270deg);
    -o-transform-origin:  bottom left;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.t-plot-image {
}
.t-plot-image-left,
.t-plot-image-left-right {
    padding-left: 2em;
}
.t-plot-image-right,
.t-plot-image-left-right {
    padding-right: 2em;
}
.t-plot-bottom {
    padding-left: 6em;
}

/* ----------------------------------------------------------------------
   Template:navbar
*/
body.cpp-navbar div#content,
body.cpp-page-template div#content {
    padding-top: 32px;
}

body.cpp-navbar div#contentSub,
body.cpp-page-template div#contentSub {
    display: none;
}

.t-navbar {
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;
    height: 22px;
}

.t-navbar-head,
.t-navbar-sep {
    float: left;
    font-size: 0.9em;

    padding-top: 0.4em;
    padding-bottom: 0.3em;

    border-bottom: 1px solid silver;
    background-origin: border-box;

    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.t-navbar-head {
    padding-right: 0.2em;
    padding-left: 0.2em;
}

.t-navbar-head:nth-child(1) {
    padding-left: 1em;
}

.t-navbar-menu {
    position: relative;
    clear: both;
    display: none;
}

.t-navbar-head:hover > div.t-navbar-menu {
    display: block;
}

.t-navbar-menu > div {
    position: absolute;
    display: inline-block;

    background-color: white;
    border-radius: 3px;
    border: 1px solid silver;
    border-top-width: 0;
    padding: 0.5em;

    white-space: nowrap;
    z-index: 1;
}

.t-navbar-menu .editsection {
    display: none;
    font-size: 0.7em;
    opacity: 0.4;
    line-height: 1em;
}

.t-navbar-sep {
    width: 8px;

    /* @embed */
    background-image: url("/mwiki/skins/cppreference2/images/navbar-tab.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.t-navbar-sep:first-child {
    /* @embed */
    background-image: url("/mwiki/skins/cppreference2/images/navbar-inv-tab.png");
    background-repeat: no-repeat;
    background-position: left bottom;

    border-bottom-width: 0;
}


body.skin-cppreference .t-navbar-sep:first-child,
body.skin-vector       .t-navbar-sep:first-child {
    display: none;
}

body.skin-cppreference .t-navbar-head:nth-child(2),
body.skin-vector       .t-navbar-head:nth-child(2) {
    padding-left: 1em;
}

.t-navbar-sep:last-child {
    border-bottom-width: 0;
}

/* ----------------------------------------------------------------------
   Template:page-template
*/
.t-page-template {
    position: absolute;
    top: 0;
    right: 0;

    display: inline-block;
}

.t-page-template .editsection {
    display: none;
    font-size: 0.7em;
    opacity: 0.4;
    line-height: 1em;
}

/* ----------------------------------------------------------------------
   Template:template
*/
.t-template-editlink {
    float: right;
    position: relative;
}

.t-template-editlink .editsection {
    display: none;
    font-size: 0.7em;
    opacity: 0.4;
    position: absolute;
    right: 0;
    top: -2px;
}

/* ----------------------------------------------------------------------
   Template:noexcept
*/
.t-noexcept-full,
.t-noexcept-inline {
    display: inline;
}

.t-noexcept-full .t-dcl-begin,
.t-noexcept-inline .t-dcl-begin {
    padding: 0;
}

.t-noexcept-full .t-noexcept-box {
    padding: 0 0 1em 3em;
}

.t-noexcept-inline > .t-noexcept-box {
    display: inline-block; 
    vertical-align: middle; 
    padding:0;
}

.t-rev .t-noexcept-full .t-mark-rev,
.t-rev .t-noexcept-inline .t-mark-rev {
    display: none;
}

/* ----------------------------------------------------------------------
   Template:cmark
   Template:mark
*/
.t-cmark {
    color: #808080;
    font-size: 0.80em;
}

.t-mark,
.t-mark-rev {
    color: #008000;
    font-size: 0.80em;
}

.t-mark-rev.t-mark-ts {
    color: #e06000;
}

.wikitable th .t-mark {
    font-weight: normal;
}

/* ----------------------------------------------------------------------
   Template:spar
*/
.t-spar {
    color: #808080;
    font-style: italic;
}

/* ----------------------------------------------------------------------
   Template:dsc small
   Template:dsc *
*/
.t-dsc-small {
    font-weight: normal;
    font-size:0.7em;
    line-height:130%;
}

.t-dsc-begin {
    max-width: 60em;
    border-spacing: 0;
}

.t-dsc > td:first-child {
    width: 0%;
    line-height: 1.2em;
    padding: 0.2em 0 0.25em 0.75em;
    white-space: nowrap;
}

.t-dsc > td:last-child {
    line-height: 1.1em;
    padding-left: 0.75em;
    white-space: normal;
}

.t-dsc .editsection {
    display: none;
    font-size: 0.7em;
    opacity: 0.4;
}

.t-dsc-hitem > td {
    font-weight: bold;
    line-height: 1.1em;
    padding: 0.2em 0 0.25em 0.75em;
    white-space: nowrap;
}

.t-dsc > td,
.t-dsc-hitem > td {
    border-top: 1px solid #CCCCCC;
}

.t-dsc-header > td {
    padding: 0;
    font-size: 0.8em;
    line-height: 1em;
}

.t-dsc-header > td:nth-child(1) > div {
    margin-left: 2em;
}

.t-dsc-see {
    padding: 0.2em 0 0.2em 0;
}

.t-dsc-see > span:nth-child(2) > span,
.t-dsc-see > span:nth-child(1) {
    font-weight: bold;
}

.t-dsc-see-tt > span {
   font-family: DejaVuSansMono, "DejaVu Sans Mono", courier, monospace;
}

/* ----------------------------------------------------------------------
   .dsctable
*/

.dsctable td ul,
.dsctable td ol,
.dsctable td dl {
    text-align: left;
}

.dsctable {
    max-width: 60em;
    border-spacing: 0;
}

.dsctable > tbody > tr > td {
    border-top: 1px solid silver;
    width: 0%;
    line-height: 1.2em;
    padding: 0.2em 0.1em 0.25em 0.75em;
    white-space: nowrap;
}

.dsctable > tbody > tr:last-child > td {
    border-bottom: 1px solid silver;
}

.dsctable > tbody > tr > th {
    font-weight: bold;
    line-height: 1.1em;
    padding: 0.2em 0 0.25em 0.75em;
    white-space: nowrap;
}

/* ----------------------------------------------------------------------
   Template:dcl *
*/
.t-dcl-begin {
    display: block;
    padding: 0.5em 0;
    border-spacing: 0;
}

.t-dcl-header > td:nth-child(1) > div {
    margin-left: 2em;
    font-size: 0.8em;
}

.t-dcl-h > td:nth-child(1) > div {
    margin-left: 2em;
    padding-top: 0.7em;
    font-size: 0.8em;
    font-weight: bold;
}

.t-dcl > td:nth-child(1) {
    padding: 0.3em 2em 0.2em 1em;
    font-size: 1.0em;
}

.t-dcl > td:nth-child(1) > div p,
.t-dcl > td:nth-child(1) > div span {
    line-height: 1.1em;
    margin: 0;
    padding: 0;
}

.t-dcl > td:nth-child(2),
.t-dcl-rev-aux > td:nth-child(2) {
    font-size: 0.8em;
    padding-right: 1.5em;
}

.t-dcl > td:nth-child(3),
.t-dcl-rev-aux > td:nth-child(3) {
    padding: 0;
}

.t-dcl-nopad {
    padding-right: 0 !important;
}

/* Apply the dark border */
.t-dcl > td,
.t-dcl-h > td,
.t-dcl-sep > td,
.t-dcl-rev > .t-dcl:first-child > td, /* if dcl-rev-aux is hidden */
.t-dcl-rev > .t-dcl-rev-aux > td {
    border-top: 1px solid #cccccc;
}

.t-dcl-sep > td {
    padding: 0;
}

/* Apply the light border to the dcl-rev elements */
.t-dcl-rev > .t-dcl > td,
.t-dcl-rev > .t-dcl-h > td {
    border-top: 1px solid #e8e8e8;
}

/* Do not apply any border to the first element in dcl-rev block */
.t-dcl-rev-aux + .t-dcl td {
    border-top: none;
}

/* Reduce padding. Preserve padding for the first and the last visible 
   code elements */
.t-dcl-rev-aux ~ .t-dcl ~ .t-dcl td {
    /* Here we abuse CSS a bit to ensure that at least one block has 
       his top padding left untouched */
    padding-top: 0;
}

.t-dcl-rev .t-dcl:not(:nth-last-child(1)) td {
    padding-bottom: 0;
}

.t-dcl-rev-aux > td:nth-child(1),
.t-dcl-rev-aux > td:nth-child(3) {
    padding: 0;
}

/* Override columns overridden by data in dcl-rev entry */
.t-dcl-rev-num > .t-dcl-rev-aux ~ tr:not(.t-dcl-rev-aux) > td:nth-child(2) {
    display: none;
}

.t-dcl-rev-notes > .t-dcl-rev-aux ~ tr:not(.t-dcl-rev-aux) > td:nth-child(3) {
    display: none;
}

/* ----------------------------------------------------------------------
   Template:sdsc *
*/
.t-sdsc-begin {
}

.t-sdsc > td:first-child {
    padding: 0.5em 0 0.5em 1em;
    font-size: 1em;
}

.t-sdsc dd,
.t-sdsc p,
.t-sdsc span {
    line-height: 1.1em;
}

.t-sdsc > td:nth-last-child(2) {
    padding-left: 3em;
}

.t-sdsc > td:nth-last-child(1) {
    padding-left: 2em;
}

.t-sdsc-nopad {
    padding-left: 0 !important;
}

.t-sdsc-sep {
    border-top: 1px solid #CCCCCC;
    padding: 0;
}


/* ----------------------------------------------------------------------
   Template:nv *
*/
.t-nv-begin {
    line-height: 1em;
    width: auto;
    border-spacing: 0;
}

.t-nv-h1 > td {
    padding: 0.2em 0 0.2em 1.4em;
    font-size: 1.25em;
    font-weight: bold;
}

.t-nv-h2 > td {
    padding: 0.2em 0 0.2em 1em;
    font-weight: bold;
}

.t-nv-ln-table {
    vertical-align: middle;
    display: table;
    padding: 0;
    border-spacing: 0;
}

.t-nv-ln-table > div {
    display: table-cell;
}

.t-nv-ln-table > div:nth-child(1) {
    font-family: DejaVuSansMonoCondensed75, "DejaVu Sans Mono", courier, monospace;
    padding: 0;
}

.t-nv-ln-table > div:nth-child(2) {
    padding: 0 0 0 0.2em;
}

/* ----------------------------------------------------------------------
   Template:par *
*/
.t-par-begin {
    border-spacing: 0;
}

.t-par > td {
    padding: 0.5em 1em 0 0;
    vertical-align: top;
}

.t-par > td:nth-child(1) {
    white-space: nowrap;
    text-align: right;
    font-weight: bold;
    font-family: DejaVuSansMono, "DejaVu Sans Mono", courier, monospace;
}

.t-par > td:nth-child(3) {
    width: 100%;
}

.t-par-hitem > td {
    font-weight: bold;
    padding: 0.8em 0 0.3em 1em;
}

.t-par-req {
    padding: 0.5em 1em 0 0;
}

.t-par-req .spacer {
    display: inline-block;
    width: 1.2em;
}

.t-par .editsection {
    display: none;
    font-size: 0.7em;
    opacity: 0.4;
}

/* ----------------------------------------------------------------------
   Template:rev *
*/
.t-rev-begin {
    border-spacing: 0;
    border-collapse: collapse;
}

.t-rev > td {
    padding: 0.3em 0.2em;
}

.t-rev-begin-noborder .t-rev > td {
    padding: 0;
    border: none !important;
}

.t-rev-begin-noborder .t-rev > td:first-child {
    padding-right: 0.2em;
}

.t-dsc .t-rev-begin {
    display: inline-table;
}

.t-rev > td:nth-child(1) {
    border: 1px solid silver;
    border-right: none;
}

.t-rev > td:nth-child(2) {
    border: 1px solid silver;
    border-left: none;
    white-space: nowrap
}

.t-rev > td > p:first-child {
    margin-top: 0em;
}

.t-rev > td > p:last-child {
    margin-bottom: 0em;
}

div#content .t-rev > td:first-child > ul:last-child {
    margin-bottom: 0em;
}

div#content .t-rev > td:first-child > ul:first-child {
    margin-top: 0em;
}

.t-rev > td:first-child > ul:first-child > li:first-child {
    margin-top: 0em;
}

.t-rev-inl,
.t-rev-inl > span {
    margin: 0;
    padding: 0;
}

.t-rev-inl {
    border: 1px solid silver;
}

.t-rev-inl.t-rev-inl-noborder {
    border: none;
}

/* ----------------------------------------------------------------------
   Template:member*
*/
.t-dsc-member-div > div {
    padding: 0;
    display: inline-table;
    vertical-align: middle;
}

.t-dsc-member-div > div:nth-child(1) {
    font-weight: bold;
    font-family: DejaVuSansMono, "DejaVu Sans Mono", courier, monospace;
}

.t-dsc-member-div > div:nth-child(2) {
    padding-left: 0.2em;
}

.t-dsc-member-nobold-div > div:nth-child(1),
.t-dsc-member-nobold-div > div:nth-child(1) strong.selflink {
    font-weight: normal;
    font-family: DejaVuSans, "DejaVu Sans", arial, sans-serif;
}

/* ----------------------------------------------------------------------
   Template:tr
*/

.t-tr-text {
    display: inline;
}

.t-tr-text:hover {
    background: #eef;
    transition: background 0.2s ease-in-out 1s;
    -webkit-transition: background 0.2s ease-in-out 1s;
    -moz-transition: background 0.2s ease-in-out 1s;
    -o-transition: background 0.2s ease-in-out 1s;
}

.t-tr-dropdown {
    display: inline-block;
    line-height: 1em;
    visibility: collapse;
    width: 0;
    height: 0;
    position: relative
}

.t-tr-text:hover > .t-tr-dropdown {
    visibility: visible;
    transition: visibility 0 linear 1s;
    -webkit-transition: visibility 0 linear 1s;
    -moz-transition: visibility 0 linear 1s;
    -o-transition: visibility 0 linear 1s;
}

.t-tr-dropdown > div {
    opacity: 0;
    transition: opacity 0.1s linear 0s;
    -moz-transition: opacity 0.1s linear 0s;
    -webkit-transition: opacity 0.1s linear 0s;
    -o-transition: opacity 0.1s linear 0s;

    top: 0;
    left: -110px;
    position: absolute;
    padding-top: 12px;
}

.t-tr-text:hover > .t-tr-dropdown > div {
    opacity: 1;
    transition: opacity 0.2s ease-in-out 1s;
    -webkit-transition: opacity 0.2s ease-in-out 1s;
    -moz-transition: opacity 0.2s ease-in-out 1s;
    -o-transition: opacity 0.2s ease-in-out 1s;
}

.t-tr-dropdown > div > div {
    background-color: white;
    border: 1.5px solid silver;
    font-size: 0.9em;
    padding: 5px;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 3px #888888;
}

.t-tr-dropdown-arrow-border {
    border-color: transparent transparent silver transparent ;
    border-style: solid;
    border-width: 8px;
    height:0;
    width:0;
    position:absolute;
    top:-3px;
    left:100px;
}

.t-tr-dropdown-arrow {
    border-color: transparent transparent white transparent;
    border-style: solid;
    border-width: 8px;
    height:0;
    width:0;
    position:absolute;
    top:-2px;
    left:100px;
}

.t-tr-dropdown-h {
    padding-left: 1em;
    padding-bottom: 0.5em;
    font-size: 0.8em;
}

.t-tr-dropdown-notes {
    padding-left: 1em;
    padding-top: 0.5em;
    font-size: 0.8em;
}

/* ======================================================================
   WIKIPEDIA DEFAULTS
 ------------------------------------------------------------------------
*/


/* Footer and header message box styles */
table.fmbox {
    clear: both;
    margin: 0.2em 0;
    width: 100%;
    border: 1px solid #aaa;
    background: #f9f9f9;     /* Default "system" gray */
}
table.fmbox-system {
    background: #f9f9f9;
}
table.fmbox-warning {
    border: 1px solid #bb7070;  /* Dark pink */
    background: #ffdbdb;        /* Pink */
}
table.fmbox-editnotice {
    background: transparent;
}


/* Cell sizes for ambox/tmbox/imbox/cmbox/ombox/fmbox/dmbox message boxes */
th.mbox-text, td.mbox-text {   /* The message body cell(s) */
    border: none;
    padding: 0.25em 0.9em;     /* 0.9em left/right */
    width: 100%;               /* Make all mboxes the same width regardless of text length */
}
td.mbox-image {                /* The left image cell */
    border: none;
    padding: 2px 0 2px 0.9em;  /* 0.9em left, 0px right */
    text-align: center;
}
td.mbox-imageright {           /* The right image cell */
    border: none;
    padding: 2px 0.9em 2px 0;  /* 0px left, 0.9em right */
    text-align: center;
}
td.mbox-empty-cell {           /* An empty narrow cell */
    border: none;
    padding: 0px;
    width: 1px;
}

/* ======================================================================
   DEFAULTS
 ------------------------------------------------------------------------
*/
/* CSS placed here will be applied to all skins */

/* Main page fixes */
#interwiki-completelist {
    font-weight: bold;
}
body.page-Main_Page #ca-delete {
    display: none !important;
}

body.page-Main_Page #mp-topbanner {
   clear: both;
}

/* Edit window toolbar */
#toolbar {
    height: 22px;
    margin-bottom: 6px;
}

/* Margins for <ol> and <ul> */
div#content ol, div#content ul,
div#mw_content ol, div#mw_content ul {
    margin-bottom: 0.5em;
}

/* Make the list of references smaller */
ol.references,
div.reflist,
div.refbegin {
    font-size: 90%;            /* Default font-size */
}
div.reflist ol.references {
    font-size: 100%;           /* Reset font-size when nested in div.reflist */
    list-style-type: inherit;  /* Enable custom list style types */
}

/* Highlight clicked reference in blue to help navigation */
ol.references li:target,
sup.reference:target,
span.citation:target {
    background-color: #DEF;
}

/* Ensure refs in table headers and the like aren't bold or italic */
sup.reference {
    font-weight: normal;
    font-style: normal;
}

/* Styling for citations */
span.citation, cite {
    font-style: normal;
    word-wrap: break-word;
}

/* For linked citation numbers and document IDs, where
   the number need not be shown on a screen or a handheld,
   but should be included in the printed version
*/
@media screen, handheld {
    span.citation *.printonly {
        display: none;
    }
}

.collapseButton {          /* 'show'/'hide' buttons created dynamically */
    float: right;          /* by the CollapsibleTables javascript in    */
    font-weight: normal;   /* [[MediaWiki:Common.js]] are styled here   */
    text-align: right;     /* so they can be customised.                */
    width: auto;
}

/* Normal font styling for table row headers with scope="row" tag */
.wikitable.plainrowheaders th[scope=row] {
    font-weight: normal;
    text-align: left;
}

/* lists in data cells are always left-aligned */
.wikitable td ul,
.wikitable td ol,
.wikitable td dl {
    text-align: left;
}

/* Change the external link icon to an Adobe icon for all PDF files
   in browsers that support these CSS selectors, like Mozilla and Opera */
div#content a[href$=".pdf"].external,
div#content a[href*=".pdf?"].external,
div#content a[href*=".pdf#"].external,
div#content a[href$=".PDF"].external,
div#content a[href*=".PDF?"].external,
div#content a[href*=".PDF#"].external,
div#mw_content a[href$=".pdf"].external,
div#mw_content a[href*=".pdf?"].external,
div#mw_content a[href*=".pdf#"].external,
div#mw_content a[href$=".PDF"].external,
div#mw_content a[href*=".PDF?"].external,
div#mw_content a[href*=".PDF#"].external {
    /* @embed */
    background: url("http://upload.cppreference.com/mwiki/images/2/23/Icons-mini-file_acrobat.gif") center right no-repeat;
    padding-right: 18px;
}

/* Messagebox templates */
.messagebox {
    border: 1px solid #aaa;
    background-color: #f9f9f9;
    width: 80%;
    margin: 0 auto 1em auto;
    padding: .2em;
}
.messagebox.merge {
    border: 1px solid #c0b8cc;
    background-color: #f0e5ff;
    text-align: center;
}
.messagebox.cleanup {
    border: 1px solid #9f9fff;
    background-color: #efefff;
    text-align: center;
}
.messagebox.standard-talk {
    border: 1px solid #c0c090;
    background-color: #f8eaba;
    margin: 4px auto;
}
/* For old WikiProject banners inside banner shells. */
.mbox-inside .standard-talk,
.messagebox.nested-talk {
    border: 1px solid #c0c090;
    background-color: #f8eaba;
    width: 100%;
    margin: 2px 0;
    padding: 2px;
}
.messagebox.small {
    width: 238px;
    font-size: 85%;
    float: right;
    clear: both;
    margin: 0 0 1em 1em;
    line-height: 1.25em;
}
.messagebox.small-talk {
    width: 238px;
    font-size: 85%;
    float: right;
    clear: both;
    margin: 0 0 1em 1em;
    line-height: 1.25em;
    background: #F8EABA;
}

/* Cell sizes for ambox/tmbox/imbox/cmbox/ombox/fmbox/dmbox message boxes */
th.mbox-text, td.mbox-text {   /* The message body cell(s) */
    border: none;
    padding: 0.25em 0.9em;     /* 0.9em left/right */
    width: 100%;               /* Make all mboxes the same width regardless of text length */
}
td.mbox-image {                /* The left image cell */
    border: none;
    padding: 2px 0 2px 0.9em;  /* 0.9em left, 0px right */
    text-align: center;
}
td.mbox-imageright {           /* The right image cell */
    border: none;
    padding: 2px 0.9em 2px 0;  /* 0px left, 0.9em right */
    text-align: center;
}
td.mbox-empty-cell {           /* An empty narrow cell */
    border: none;
    padding: 0px;
    width: 1px;
}

/* Article message box styles */
table.ambox {
    margin: 0px 10%;                  /* 10% = Will not overlap with other elements */
    border: 1px solid #aaa;
    border-left: 10px solid #1e90ff;  /* Default "notice" blue */
    background: #fbfbfb;
}
table.ambox + table.ambox {      /* Single border between stacked boxes. */
    margin-top: -1px;
}
.ambox th.mbox-text,
.ambox td.mbox-text {            /* The message body cell(s) */
    padding: 0.25em 0.5em;       /* 0.5em left/right */
}
.ambox td.mbox-image {           /* The left image cell */
    padding: 2px 0 2px 0.5em;    /* 0.5em left, 0px right */
}
.ambox td.mbox-imageright {      /* The right image cell */
    padding: 2px 0.5em 2px 0;    /* 0px left, 0.5em right */
}

table.ambox-notice {
    border-left: 10px solid #1e90ff;    /* Blue */
}
table.ambox-speedy {
    border-left: 10px solid #b22222;    /* Red */
    background: #fee;                   /* Pink */
}
table.ambox-delete {
    border-left: 10px solid #b22222;    /* Red */
}
table.ambox-content {
    border-left: 10px solid #f28500;    /* Orange */
}
table.ambox-style {
    border-left: 10px solid #f4c430;    /* Yellow */
}
table.ambox-move {
    border-left: 10px solid #9932cc;    /* Purple */
}
table.ambox-protection {
    border-left: 10px solid #bba;       /* Gray-gold */
}

/* Image message box styles */
table.imbox {
    margin: 4px 10%;
    border-collapse: collapse;
    border: 3px solid #1e90ff;    /* Default "notice" blue */
    background: #fbfbfb;
}
.imbox .mbox-text .imbox {  /* For imboxes inside imbox-text cells. */
    margin: 0 -0.5em;       /* 0.9 - 0.5 = 0.4em left/right.        */
    display: block;         /* Fix for webkit to force 100% width.  */
}
.mbox-inside .imbox {       /* For imboxes inside other templates.  */
    margin: 4px;
}

table.imbox-notice {
    border: 3px solid #1e90ff;    /* Blue */
}
table.imbox-speedy {
    border: 3px solid #b22222;    /* Red */
    background: #fee;             /* Pink */
}
table.imbox-delete {
    border: 3px solid #b22222;    /* Red */
}
table.imbox-content {
    border: 3px solid #f28500;    /* Orange */
}
table.imbox-style {
    border: 3px solid #f4c430;    /* Yellow */
}
table.imbox-move {
    border: 3px solid #9932cc;    /* Purple */
}
table.imbox-protection {
    border: 3px solid #bba;       /* Gray-gold */
}
table.imbox-license {
    border: 3px solid #88a;       /* Dark gray */
    background: #f7f8ff;          /* Light gray */
}
table.imbox-featured {
    border: 3px solid #cba135;    /* Brown-gold */
}

/* Category message box styles */
table.cmbox {
    margin: 3px 10%;
    border-collapse: collapse;
    border: 1px solid #aaa;
    background: #DFE8FF;    /* Default "notice" blue */
}

table.cmbox-notice {
    background: #D8E8FF;    /* Blue */
}
table.cmbox-speedy {
    margin-top: 4px;
    margin-bottom: 4px;
    border: 4px solid #b22222;    /* Red */
    background: #FFDBDB;          /* Pink */
}
table.cmbox-delete {
    background: #FFDBDB;    /* Red */
}
table.cmbox-content {
    background: #FFE7CE;    /* Orange */
}
table.cmbox-style {
    background: #FFF9DB;    /* Yellow */
}
table.cmbox-move {
    background: #E4D8FF;    /* Purple */
}
table.cmbox-protection {
    background: #EFEFE1;    /* Gray-gold */
}

/* Other pages message box styles */
table.ombox {
    margin: 4px 10%;
    border-collapse: collapse;
    border: 1px solid #aaa;       /* Default "notice" gray */
    background: #f9f9f9;
}

table.ombox-notice {
    border: 1px solid #aaa;       /* Gray */
}
table.ombox-speedy {
    border: 2px solid #b22222;    /* Red */
    background: #fee;             /* Pink */
}
table.ombox-delete {
    border: 2px solid #b22222;    /* Red */
}
table.ombox-content {
    border: 1px solid #f28500;    /* Orange */
}
table.ombox-style {
    border: 1px solid #f4c430;    /* Yellow */
}
table.ombox-move {
    border: 1px solid #9932cc;    /* Purple */
}
table.ombox-protection {
    border: 2px solid #bba;       /* Gray-gold */
}

/* Talk page message box styles */
table.tmbox {
    margin: 4px 10%;
    border-collapse: collapse;
    border: 1px solid #c0c090;    /* Default "notice" gray-brown */
    background: #f8eaba;
}
.mediawiki .mbox-inside .tmbox { /* For tmboxes inside other templates. The "mediawiki" class ensures that */
    margin: 2px 0;               /* this declaration overrides other styles (including mbox-small above)   */
    width: 100%;                 /* For Safari and Opera */
}
.mbox-inside .tmbox.mbox-small { /* "small" tmboxes should not be small when  */
    line-height: 1.5em;          /* also "nested", so reset styles that are   */
    font-size: 100%;             /* set in "mbox-small" above.                */
}

table.tmbox-speedy {
    border: 2px solid #b22222;    /* Red */
    background: #fee;             /* Pink */
}
table.tmbox-delete {
    border: 2px solid #b22222;    /* Red */
}
table.tmbox-content {
    border: 2px solid #f28500;    /* Orange */
}
table.tmbox-style {
    border: 2px solid #f4c430;    /* Yellow */
}
table.tmbox-move {
    border: 2px solid #9932cc;    /* Purple */
}
table.tmbox-protection,
table.tmbox-notice {
    border: 1px solid #c0c090;    /* Gray-brown */
}


/* Footer and header message box styles */
table.fmbox {
    clear: both;
    margin: 0.2em 0;
    width: 100%;
    border: 1px solid #aaa;
    background: #f9f9f9;     /* Default "system" gray */
}
table.fmbox-system {
    background: #f9f9f9;
}
table.fmbox-warning {
    border: 1px solid #bb7070;  /* Dark pink */
    background: #ffdbdb;        /* Pink */
}
table.fmbox-editnotice {
    background: transparent;
}

/* Div based "warning" style fmbox messages. */
div.mw-warning-with-logexcerpt,
div.mw-lag-warn-high,
div.mw-cascadeprotectedwarning,
div#mw-protect-cascadeon {
    clear: both;
    margin: 0.2em 0;
    border: 1px solid #bb7070;
    background: #ffdbdb;
    padding: 0.25em 0.9em;
}

/* These mbox-small classes must be placed after all other
   ambox/tmbox/ombox etc classes. "body.mediawiki" is so
   they override "table.ambox + table.ambox" above. */
body.mediawiki table.mbox-small {   /* For the "small=yes" option. */
    clear: right;
    float: right;
    margin: 4px 0 4px 1em;
    width: 238px;
    font-size: 88%;
    line-height: 1.25em;
}
body.mediawiki table.mbox-small-left {   /* For the "small=left" option. */
    margin: 4px 1em 4px 0;
    width: 238px;
    border-collapse: collapse;
    font-size: 88%;
    line-height: 1.25em;
}


/* Remove default styles for [[MediaWiki:Noarticletext]]. */
div.noarticletext {
    border: none;
    background: transparent;
    padding: 0;
}

#wpSave {
    font-weight: bold;
}

/* suppress missing interwiki image links where #ifexist cannot
   be used due to high number of requests see .hidden-redlink on
   http://meta.wikimedia.org/wiki/MediaWiki:Common.css
*/
.check-icon a.new {
    display: none;
    speak: none;
}

/* Removes underlines from certain links */
.nounderlines a,
.IPA a:link, .IPA a:visited {
    text-decoration: none;
}

/* Allow transcluded pages to display in lists rather than a table. */
.listify td    { display: list-item; }
.listify tr    { display: block; }
.listify table { display: block; }

/* When <div class="nonumtoc"> is used on the table of contents,
   the ToC will display without numbers */
.nonumtoc .tocnumber { display: none; }
.nonumtoc #toc ul,
.nonumtoc .toc ul {
    line-height: 1.5em;
    list-style: none;
    margin: .3em 0 0;
    padding: 0;
}
.nonumtoc #toc ul ul,
.nonumtoc .toc ul ul {
    margin: 0 0 0 2em;
}

/* User block messages */
div.user-block {
    padding: 5px;
    margin-bottom: 0.5em;
    border: 1px solid #A9A9A9;
    background-color: #FFEFD5;
}

/* Prevent line breaks in silly places:
   1) Links when we don't want them to
   2) Bold "links" to the page itself
   2) HTML formulae
   3) Ref tags with group names <ref group="Note"> --> "[Note 1]"
*/
.nowraplinks a,
.nowraplinks .selflink,
span.texhtml,
sup.reference a {
    white-space: nowrap;
}

/* For template documentation */
.template-documentation {
    clear: both;
    margin: 1em 0 0 0;
    border: 1px solid #aaa;
    background-color: #ecfcf4;
    padding: 1em;
}

/* Inline divs in ImageMaps (code borrowed from de.wiki) */
.imagemap-inline div {
    display: inline;
}

/* Increase the height of the image upload box */
#wpUploadDescription {
    height: 13em;
}

/* Reduce line-height for <sup> and <sub> */
sup, sub {
    line-height: 1em;
}

/* Minimum thumb width */
.thumbinner {
    min-width: 100px;
}

/* Makes the background of a framed image white instead of gray. */
/* Only visible with transparent images. */
div.thumb img.thumbimage {
    background-color: #fff;
}

/* The backgrounds for galleries. */
div#content .gallerybox div.thumb {
    background-color: #F9F9F9;   /* Light gray padding */
}
/* Put a chequered background behind images, only visible if they have transparency */
.gallerybox .thumb img,
.filehistory a img,
#file img {
    background: white url("http://upload.wikimedia.org/wikipedia/commons/5/5d/Checker-16x16.png") repeat;
}
/* But not on articles, user pages, portals or with opt-out. */
.ns-0 .gallerybox .thumb img,
.ns-2 .gallerybox .thumb img,
.ns-100 .gallerybox .thumb img,
.nochecker .gallerybox .thumb img {
    background: white;
}

/* Prevent floating boxes from overlapping any category listings,
   file histories, edit previews, and edit [Show changes] views */
#mw-subcategories, #mw-pages, #mw-category-media,
#filehistory, #wikiPreview, #wikiDiff {
    clear: both;
}

/* Fix monospace fontsize in new edit toolbar (jquery.wikiEditor.toolbar.css).
   [[Bugzilla:27502]] */
.wikiEditor-ui-toolbar .section-help .page-table td.cell-syntax,
.wikiEditor-ui-toolbar .section-help .page-table td.syntax {
    font-family: monospace, "Courier New";
}


/* Remove bullets when there are multiple edit page warnings */
ul.permissions-errors > li {
    list-style: none;
}
ul.permissions-errors {
    margin: 0;
}

/* No linewrap on the labels of the login/signup page */
body.page-Special_UserLogin .mw-label label,
body.page-Special_UserLogin_signup .mw-label label { white-space : nowrap; }

/* Disable the automatic text-size adjust of WebKit on iPhones etc.
   It scales some text, and not the other. Use none, or fixed percentage instead.
   Use media selector, because defining a value, overwrites platform defaults. */
@media only screen and (max-device-width: 480px) {
    body {
        -webkit-text-size-adjust: none;
    }
}

/* ======================================================================
   OVERRIDES
 ------------------------------------------------------------------------
*/

body.mediawiki table.mbox-small-left,
body.mediawiki table.mbox-small {   
    width: 500px;
}

/* ======================================================================
   TEMPORARY
 ------------------------------------------------------------------------
*/
.t-rev-since-cxx11 .t-noexcept-inline .t-mark {
    display: none;
}