 
/* CSS placed here will affect the print output */

/**
    Don't display the following items:
     * Navigation bar
     * Edit links
*/
.t-navbar,
.editsection {
    display: none !important;
}

#content {
    font-size: 0.7em;
    padding: 1em 3em !important;
}

.printfooter {
    margin-top: 1em;
    border-top: 1px solid silver;
    font-size: 0.8em;
}
